body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(102, 100, 101);
}

.notebook {
  margin: 5% 10% 2% 10%;
  background-image: url('./img/notebookcanvas.png');
  background-repeat: no-repeat;
  align-self: center;
}

.canvas-container {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.save-button {
  margin: 10% 0 0 70%;
  color: white;
  background-color: black;
  padding: .2em;
}

.control-panel {
  display: flex;
  justify-content: center;
}

.sticker {
  padding: .2em;
  margin: .2em;
  align-self: center;
}

.colorblock {
  padding: .25em;
  margin: .2em;
  border: .1em solid white;
}

.picker {
  display: flex;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.control {
  border: .15em solid white;
  border-radius: .5em;
  background-color: black;
}

.control-left {
  display: flex;
  margin-right: 3em;
  flex-direction: column;
}

.control-top-left {
  display: flex;
  align-items: baseline;
  color: white;
}

.control-right {
  display: flex;
  width: 35%;
}

.font-picker-control {
  margin-top: 1em;
  padding: 1em;
}

.sticker-picker {
  flex-direction: column;
}

.font-selector {
  padding: .25em;
}

/* .right-side-control {
  margin-right: .5em;
} */

.color-picker {
  display: flex;
  align-items: center;
  padding: 1em;
  justify-content: space-evenly;
}

.sticker-picker-container {
  display: flex;
  align-items: center;
  padding: 1em;
  margin: 0 auto;
}

.paper-picker-container {
  display: flex;
  align-items: center;
  padding: 1em;
}

.paper-type-selector {
  margin: .2em;
}

.arrow {
  cursor: pointer;
}

.left-arrow {
  margin-right: .5em;
}

.right-arrow {
  margin-left: .5em;
}

.sticker-row {
  display: flex;
  justify-content: space-between;
}

.typing-area {
  position: absolute;
  background: transparent;
  border: 0px;
  caret-color: white;
  color: white;
  padding: 1em;
  font-size: 1em;
}

input:focus {
  outline: none;
}

/* stickers */
.bed {
  margin-top: 2em;
  margin-left: -4em;
}

.windoww {
  margin-left: -4em;
  margin-bottom: 1.5em;
  margin-right: 1em;
}

.cat {
  margin-bottom: 2em;
  margin-left: 3em;
  margin-top: -2.5em;
  margin-right: 1em;
}

.floor {
  margin-left: -1em;
  margin-top: -3em;
}

.car {
  margin-top: -4em;
}

.envelope {
  margin-top: -4em;
  margin-left: -.25em;
  margin-right: .25em;
}

.phone {
  margin-top: -5em;
  margin-left: -.25em;
}

.boombox {
  margin-left: -2em;
  margin-right: -3.25em;
  margin-bottom: 1.5em;
}

.house {
  margin-right: 2.25em;
  margin-bottom: 2.75em;
}

.mug {
  margin-top: -4.25em;
  margin-left: -.25em;
}

.milk {
  margin-top: -4.75em;
}
