body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(102, 100, 101);
}

/* @font-face {
  font-family: 'MyWebFont';
  src:  url('myfont.woff2') format('woff2'),
        url('myfont.woff') format('woff');
} */

.notebook {
  margin: 10% 10% 5% 10%;
  background-image: url('./img/notebookcanvas.png');
  background-repeat: no-repeat;
  align-self: center;
}

.control-panel {
  display: flex;
  justify-content: center;
}

.sticker {
  padding: .5em;
  margin: .2em;
  align-self: center;
}

.colorblock {
  padding: .25em;
  margin: .2em;
  border: .1em solid white;
}

.picker {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.control {
  border: .15em solid white;
  border-radius: .5em;
  padding: .4em;
  background-color: black;
}

.control-left {
  display: flex;
  margin-right: 3em;
  flex-direction: column;
  justify-content: space-between;
}

.control-right {
  display: flex;
}

.font-picker-control {
  margin-top: 1em;
  padding: 1em;
}

.paper-picker-control {
  margin-top: 1em;
  padding: 1em;
}

.sticker-picker {
  flex-direction: column;
}

.sticker-picker-container {
  display: flex;
  align-items: center;
  padding: 1em;
}

.paper-picker-container {
  display: flex;
  align-items: center;
  padding: 1em;
}

.paper-type-selector {
  margin: .2em;
}

.arrow {
  cursor: pointer;
}

.left-arrow {
  margin-right: .35em;
}

.right-arrow {
  margin-left: .35em;
}

.sticker-row {
  display: flex;
}

.typing-area {
  position: absolute;
  background: transparent;
  border: 0px;
  caret-color: white;
  color: white;
  padding: 1em;
  font-size: 1em;
}

input:focus {
  outline: none;
}
